{% extends '/equipments/index.html' %}

{% block dashboard_title %}Equipment{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if request.endpoint == 'equipments.show_hosts_in_group' %}
    <div class="active section">Equipment</div>
  {% else %}
    <a class="section" href="{{ url_for('equipments.show_hosts_in_group', group=request.view_args.get('group')) }}">{{ request.view_args.get('group') }}</a>
    <div class="divider"> / </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <div class="ui segment">
      Group: {{ request.view_args.get('group') }}
      {#
      <a class="ui icon primary button" href="{{ url_for('equipments.create_or_edit') }}"><i class="ui add icon"></i> Create</a>
      #}
    </div>
  {% endif %}

  <div class="ui segment">
    <h2>Equiptments</h2>
    <div class="ui cards">
      {% for equipment in equipments %}
        <div class="card">
          <div class="content">
            <div class="header">
              {{ equipment.host_id }}
            </div>
            <div class="description">
              Location: {{ equipment.coordinates.coordinates }}
            </div>
          </div>
          {% if current_user.is_authenticated %}
          <div class="extra content">
            <a href="{{ url_for('equipments.update', equipment_id=equipment.id, group=request.view_args.get('group')) }}" class="ui primary icon button">
              <i class="edit icon"></i>
            </a>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui segment">
    <h2>New Equiptments</h2>
    <div class="ui cards">
      {% for host_id, host in hosts.items() %}
        <div class="card">
          <div class="content">
            <div class="header">
              {{ host_id }}: {{ host['name'] }}
            </div>
            <div class="description">
            </div>
          </div>
          {% if current_user.is_authenticated %}
          <div class="extra content">
            <a href="{{ url_for('equipments.update', equipment_id=host['id'], group=request.view_args.get('group')) }}" class="ui primary icon button">
              <i class="edit icon"></i>
            </a>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
