{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
  <div>
    <h2>Update {{ equipment_id }}</h2>
    <form class="ui form" method="POST">
      {{ form.hidden_tag() }}
      <div class="two fields">
        {{ renderer.render_field(form.coordinates) }}
        <div class="field" style="padding-top:1.7em;">
          <button type="submit" class="ui primary button">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
